<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posts Manager</title>
    {{template "dependencies"}}
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
        <h1 class="text-3xl font-bold mb-4 text-center">Login</h1>
        <!-- login with github should redirect to /auth/login -->
        <!-- login anonymously should redirect to /auth/anonymous -->
        <div class="text-center">
            <a href="/auth/login"
                class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Login
                with Github</a>
            <a href="/auth/anonymous"
                class="bg-gray-500 text-white font-bold py-2 px-4 rounded hover:bg-gray-600 transition duration-300">Login
                Anonymously</a>
        </div>
    </div>
</body>

</html>
