<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post</title>
    {{template "dependencies"}}
</head>

<body>
    {{template "navbar" .}}
    {{template "post-view" dict "Post" .Post "IsAuthor" (.Post.IsAuthor .User.ID)}}

    <script>
        document.addEventListener("htmx:afterRequest", function (event) {
            if (event.detail.target.id === "delete-post-button") {
                window.location.href = "/"
            }

            if (event.detail.target.id === "file-upload-form") {
                window.location.reload()
            }

            if (event.detail.target.id === "delete-document-button") {
                window.location.reload()
            }
        })
    </script>
</body>

</html>

{{define "post-view"}}
<div class="bg-gray min-h-screen flex flex-col justify-start items-center">
    <div class="container mx-auto p-4 divide-y divide-gray-100">
        <div class="py-4">
            <h1 class="text-2xl font-bold text-gray-800">{{.Post.Name}}</h1>
        </div>
        <div class="py-4">
            <div class="flex justify-between items-center">
                <div class="flex items-center">
                    <p class="text-sm text-gray-500">{{.Post.Description}}</p>
                </div>
                <div>
                    <p class="text-sm text-gray-500">Author: {{.Post.Author.Name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto p-4 divide-y divide-gray-100">
        <div class="py-4">
            <h1 class="text-2xl font-bold text-gray-800">Documents</h1>
        </div>

        {{$isAuthor := .IsAuthor}}
        {{range .Post.Documents}}
        <div class="py-4">
            {{template "document-view" dict "Document" . "IsAuthor" $isAuthor}}
        </div>
        {{else}}
        <div class="py-4">
            <strong>No Documents</strong>
        </div>
        {{end}}
    </div>
    <div class="container mx-auto p-4 divide-y divide-gray-100">
        <div class="py-4">
            <h1 class="text-2xl font-bold text-gray-800">Settings</h1>
        </div>
        <div class="py-4">
            <form id="file-upload-form" hx-encoding="multipart/form-data" hx-post="/api/posts/{{.Slug}}/documents">

                <label class="block text-sm font-medium leading-6 text-gray-900" for="post-file-input">Upload
                    file</label>
                <input class="mt-2"
                    id="post-file-input" type="file" name="file" multiple>
                <button id="form-upload-button"
                    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Upload</button>
            </form>
        </div>

        {{if .IsAuthor}}
        <div class="py-4">
            <button id="delete-post-button"
                class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">Delete</button>
        </div>
        {{end}}
    </div>
</div>
{{end}}

{{define "document-view"}}
<div class="flex justify-between items-center">
    <div>
        <h3 class="text-sm font-semibold leading-6 text-gray-900">{{.Document.Filename}}</h3>
        <pre class="mt-1 text-xs leading-5 text-gray-500">{{.Document.ParseContent}}</pre>
    </div>
    <div>
        {{if .IsAuthor}}
        <button
            class="rounded-md bg-indigo-600 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Update</button>

        <button id="delete-document-button"
            class="rounded-md bg-red-500 px-2 py-1 text-xs font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
            hx-delete="/api/posts/{{.PostSlug}}/documents/{{.ID}}">Delete</button>
        {{end}}
    </div>
</div>
{{end}}
